<article>
    <h1>Add New Post</h1>
    <form class="form-wrapper" action="/post" method="post">
        <input type="hidden" name="_method" value="post">
        <label class="bold" for="title">Title</label>
        <input type="text" name="title" id="">
        <label class="bold" for="yt_url">YouTube Link</label>
        <% if (yt_url) { %>
            <input type="text" name="yt_url" value="<%= yt_url %>">
        <% } else { %>
            <input type="text" name="yt_url"> 
        <% } %>
        <label class="bold" for="content">Content</label>
        <textarea name="content" id="" cols="60" rows="10"></textarea>
        <button class="btn" id="dark">Share</button>
    </form>
</article>