<article id="comboResult">
    <h2 class="author"><span class="bold" id="center">Pls enjoy courtesy of our SpudEngine</span></h2>
    <div class="video-wrapper">
        <iframe width="560" height="315" src="<%= yt_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="content" id="comboResult">
        <p><%= potato %> potatoes go well with this one we reckon! Rate it?</p>

        <a class="btn" id="dark" href="/post/new?yt_url=<%= yt_url_OG %>">Share as post</a>
    </div>
    
</article>


   