<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TatoTunes</title>
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="/background.css"> -->
    <script src="/main.js" defer></script>
    <script src="https://kit.fontawesome.com/57a970835f.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <figure class="background-tato">
        <div class="fries-wrapper">
            <div class="potato p1">
                <div class="eye left"></div>
                <div class="eye right"></div>
                <div class="mouth-happy h1"></div>
            </div>
            <div class="potato p2">
                <div class="eye left"></div>
                <div class="eye right"></div>
                <div class="mouth-surprised s1"></div>
            </div>
            <div class="potato p3">
                <div class="eye left"></div>
                <div class="eye right"></div>
                <div class="mouth-ok o1"></div>
        </div>
        <div class="potato p4">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m1"></div>
        </div>
        <div class="potato p5">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h2"></div>
        </div>
        <div class="potato p6">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s2"></div>
        </div>
        <div class="potato p7">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o2"></div>
        </div>
        <div class="potato p8">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m2"></div>
        </div>
        <div class="potato p9">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h3"></div>
        </div>
        <div class="potato p10">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s3"></div>
        </div>
        <div class="potato p11">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o3"></div>
        </div>
        <div class="potato p12">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m3"></div>
        </div>
        <div class="potato p13">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h4"></div>
        </div>
        <div class="potato p14">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s4"></div>
        </div>
        <div class="potato p15">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o4"></div>
        </div>
        <div class="potato p16">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m4"></div>
        </div>
        <div class="potato p17">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h5"></div>
        </div>
        <div class="potato p18">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s5"></div>
        </div>
        <div class="potato p19">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o5"></div>
        </div>
        <div class="potato p20">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m5"></div>
        </div>
        <div class="potato p21">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h6"></div>
        </div>
        <div class="potato p22">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s6"></div>
        </div>
        <div class="potato p23">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o6"></div>
        </div>
        <div class="potato p24">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m6"></div>
        </div>
        <div class="potato p25">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h7"></div>
        </div>
        <div class="potato p26">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s7"></div>
        </div>
        <div class="potato p27">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o7"></div>
        </div>
        <div class="potato p28">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m7"></div>
        </div>
        <div class="potato p29">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h8"></div>
        </div>
        <div class="potato p30">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s8"></div>
        </div>
        <div class="potato p31">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o8"></div>
        </div>
        <div class="potato p32">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m8"></div>
        </div>
        <div class="potato p33">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h9"></div>
        </div>
        <div class="potato p34">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s9"></div>
        </div>
        <div class="potato p35">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o9"></div>
        </div>
        <div class="potato p36">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m9"></div>
        </div>
        <div class="potato p37">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h10"></div>
        </div>
        <div class="potato p38">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s10"></div>
        </div>
        <div class="potato p39">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o10"></div>
        </div>
        <div class="potato p40">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m10"></div>
        </div>
        <div class="potato p41">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h11"></div>
        </div>
        <div class="potato p42">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s11"></div>
        </div>
        <div class="potato p43">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o11"></div>
        </div>
        <div class="potato p44">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m11"></div>
        </div>
        <div class="potato p45">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h12"></div>
        </div>
        <div class="potato p46">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s12"></div>
        </div>
        <div class="potato p47">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o12"></div>
        </div>
        <div class="potato p48">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m12"></div>
        </div>
        <div class="potato p49">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-happy h13"></div>
        </div>
        <div class="potato p50">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-surprised s13"></div>
        </div>
        <div class="potato p51">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-ok o13"></div>
        </div>
        <div class="potato p52">
            <div class="eye left"></div>
            <div class="eye right"></div>
            <div class="mouth-mad m13"></div>
        </div>
        </div>
    </figure> -->

    <header>
        <nav>
            <div class="search-wrapper">
                <a href="/feed"><i class="fa-sharp fa-solid fa-house fa-lg"></i></a>
                <div class="search">
                    <input type="text" class="search__input" placeholder="Type your text">
                    <button class="search__button">
                        <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
                            <g>
                                <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <ul>
                <% if (isLoggedIn()) { %>
                    <form action="/session" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <button class="btn">logout</button>
                    </form>
                <% } else { %>
                <li><a href="/user/new" class="btn">Sign Up</a></li>
                <li><a href="/" class="btn">Login</a></li>
                <% } %>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <p class="footer-text">&copy; mountmike <%= new Date(). getFullYear()  %></p>
    </footer>
</body>
</html>