<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TatoTunes</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/main.js" defer></script>
</head>
<body>
    <header>
        <div class="search-wrapper">
            <a href="/feed">tato</a>
            <form action="/search" method="get">
                <input type="hidden" name="_method" value="get">
                <input type="text" name="searchString" value="Search TatoTunes">
                <button>Go</button>
            </form>
        </div>
        <nav>
            <ul>
                <li><a href="/">Sign Up</a></li>
                <li><a href="/">Log In</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <p class="footer-text">&copy; mountmike <%= new Date(). getFullYear()  %></p>
    </footer>
</body>
</html>