<h1 class="combo-heading">Chose your weapon</h1>
<div class="grid-container">
    <div class="grid-item p1"><a href="/post/combo/Beauregard">beauregard</a></div>
    <div class="grid-item p2"><a href="/post/combo/Chat">chat</a></div>
    <div class="grid-item p8"><a href="/post/combo/Okinawa">okinawa</a></div>
    <div class="grid-item p3"><a href="/post/combo/Kannah">hannah</a></div>
    <div class="grid-item p4"><a href="/post/combo/Kestrel">kestrel</a></div>
    <div class="grid-item p5"><a href="/post/combo/Kipfer">kipfer</a></div>
    <div class="grid-item p6"><a href="/post/combo/Mozart">mozart</a></div>
    <div class="grid-item p7"><a href="/post/combo/Nicola">nicola</a></div>
    <div class="grid-item p9"><a href="/post/combo/Ruby-lou">ruby lou</a></div>
  </div>