.background-tato {
    z-index: -1;
}

.potato {
    background-color: #ddb727;
    box-shadow: 4px 0px 0px #b5951c;
    border-radius: 10%;
    bottom: -100px;
    height: 100px;
    position: absolute;
    width: 20px;
}
.potato.p1 {
    left: 67vw;
    animation: letItRain 7.1428571429s 1.2s linear infinite;
    -webkit-animation: letItRain 7.1428571429s 1.2s linear infinite;
    -moz-animation: letItRain 7.1428571429s 1.2s linear infinite;
    -ms-animation: letItRain 7.1428571429s 1.2s linear infinite;
    -o-animation: letItRain 7.1428571429s 1.2s linear infinite;
}
.potato.p2 {
    left: 29vw;
    animation: letItRain 8.25s 10.2s linear infinite;
    -webkit-animation: letItRain 8.25s 10.2s linear infinite;
    -moz-animation: letItRain 8.25s 10.2s linear infinite;
    -ms-animation: letItRain 8.25s 10.2s linear infinite;
    -o-animation: letItRain 8.25s 10.2s linear infinite;
}
.potato.p3 {
    left: 90vw;
    animation: letItRain 6.2s 9.5s linear infinite;
    -webkit-animation: letItRain 6.2s 9.5s linear infinite;
    -moz-animation: letItRain 6.2s 9.5s linear infinite;
    -ms-animation: letItRain 6.2s 9.5s linear infinite;
    -o-animation: letItRain 6.2s 9.5s linear infinite;
}
.potato.p4 {
    left: 75vw;
    animation: letItRain 8.1428571429s 3s linear infinite;
    -webkit-animation: letItRain 8.1428571429s 3s linear infinite;
    -moz-animation: letItRain 8.1428571429s 3s linear infinite;
    -ms-animation: letItRain 8.1428571429s 3s linear infinite;
    -o-animation: letItRain 8.1428571429s 3s linear infinite;
}
.potato.p5 {
    left: 14vw;
    animation: letItRain 8.5s 5.2s linear infinite;
    -webkit-animation: letItRain 8.5s 5.2s linear infinite;
    -moz-animation: letItRain 8.5s 5.2s linear infinite;
    -ms-animation: letItRain 8.5s 5.2s linear infinite;
    -o-animation: letItRain 8.5s 5.2s linear infinite;
}
.potato.p6 {
    left: 49vw;
    animation: letItRain 8.2s 11s linear infinite;
    -webkit-animation: letItRain 8.2s 11s linear infinite;
    -moz-animation: letItRain 8.2s 11s linear infinite;
    -ms-animation: letItRain 8.2s 11s linear infinite;
    -o-animation: letItRain 8.2s 11s linear infinite;
}
.potato.p7 {
    left: 77vw;
    animation: letItRain 4.25s 6.3333333333s linear infinite;
    -webkit-animation: letItRain 4.25s 6.3333333333s linear infinite;
    -moz-animation: letItRain 4.25s 6.3333333333s linear infinite;
    -ms-animation: letItRain 4.25s 6.3333333333s linear infinite;
    -o-animation: letItRain 4.25s 6.3333333333s linear infinite;
}
.potato.p8 {
    left: 78vw;
    animation: letItRain 5.25s 3.5s linear infinite;
    -webkit-animation: letItRain 5.25s 3.5s linear infinite;
    -moz-animation: letItRain 5.25s 3.5s linear infinite;
    -ms-animation: letItRain 5.25s 3.5s linear infinite;
    -o-animation: letItRain 5.25s 3.5s linear infinite;
}
.potato.p9 {
    left: 44vw;
    animation: letItRain 7s 7.2s linear infinite;
    -webkit-animation: letItRain 7s 7.2s linear infinite;
    -moz-animation: letItRain 7s 7.2s linear infinite;
    -ms-animation: letItRain 7s 7.2s linear infinite;
    -o-animation: letItRain 7s 7.2s linear infinite;
}
.potato.p10 {
    left: 26vw;
    animation: letItRain 9s 5.2s linear infinite;
    -webkit-animation: letItRain 9s 5.2s linear infinite;
    -moz-animation: letItRain 9s 5.2s linear infinite;
    -ms-animation: letItRain 9s 5.2s linear infinite;
    -o-animation: letItRain 9s 5.2s linear infinite;
}
.potato.p11 {
    left: 16vw;
    animation: letItRain 5.25s 9.3333333333s linear infinite;
    -webkit-animation: letItRain 5.25s 9.3333333333s linear infinite;
    -moz-animation: letItRain 5.25s 9.3333333333s linear infinite;
    -ms-animation: letItRain 5.25s 9.3333333333s linear infinite;
    -o-animation: letItRain 5.25s 9.3333333333s linear infinite;
}
.potato.p12 {
    left: 33vw;
    animation: letItRain 7.5s 5s linear infinite;
    -webkit-animation: letItRain 7.5s 5s linear infinite;
    -moz-animation: letItRain 7.5s 5s linear infinite;
    -ms-animation: letItRain 7.5s 5s linear infinite;
    -o-animation: letItRain 7.5s 5s linear infinite;
}
.potato.p13 {
    left: 27vw;
    animation: letItRain 7.25s 2s linear infinite;
    -webkit-animation: letItRain 7.25s 2s linear infinite;
    -moz-animation: letItRain 7.25s 2s linear infinite;
    -ms-animation: letItRain 7.25s 2s linear infinite;
    -o-animation: letItRain 7.25s 2s linear infinite;
}
.potato.p14 {
    left: 56vw;
    animation: letItRain 6.25s 10.25s linear infinite;
    -webkit-animation: letItRain 6.25s 10.25s linear infinite;
    -moz-animation: letItRain 6.25s 10.25s linear infinite;
    -ms-animation: letItRain 6.25s 10.25s linear infinite;
    -o-animation: letItRain 6.25s 10.25s linear infinite;
}
.potato.p15 {
    left: 50vw;
    animation: letItRain 6.1666666667s 3.2s linear infinite;
    -webkit-animation: letItRain 6.1666666667s 3.2s linear infinite;
    -moz-animation: letItRain 6.1666666667s 3.2s linear infinite;
    -ms-animation: letItRain 6.1666666667s 3.2s linear infinite;
    -o-animation: letItRain 6.1666666667s 3.2s linear infinite;
}
.potato.p16 {
    left: 68vw;
    animation: letItRain 5.1428571429s 3.3333333333s linear infinite;
    -webkit-animation: letItRain 5.1428571429s 3.3333333333s linear infinite;
    -moz-animation: letItRain 5.1428571429s 3.3333333333s linear infinite;
    -ms-animation: letItRain 5.1428571429s 3.3333333333s linear infinite;
    -o-animation: letItRain 5.1428571429s 3.3333333333s linear infinite;
}
.potato.p17 {
    left: 54vw;
    animation: letItRain 8.1666666667s 7.5s linear infinite;
    -webkit-animation: letItRain 8.1666666667s 7.5s linear infinite;
    -moz-animation: letItRain 8.1666666667s 7.5s linear infinite;
    -ms-animation: letItRain 8.1666666667s 7.5s linear infinite;
    -o-animation: letItRain 8.1666666667s 7.5s linear infinite;
}
.potato.p18 {
    left: 99vw;
    animation: letItRain 5.5s 12s linear infinite;
    -webkit-animation: letItRain 5.5s 12s linear infinite;
    -moz-animation: letItRain 5.5s 12s linear infinite;
    -ms-animation: letItRain 5.5s 12s linear infinite;
    -o-animation: letItRain 5.5s 12s linear infinite;
}
.potato.p19 {
    left: 38vw;
    animation: letItRain 6s 7s linear infinite;
    -webkit-animation: letItRain 6s 7s linear infinite;
    -moz-animation: letItRain 6s 7s linear infinite;
    -ms-animation: letItRain 6s 7s linear infinite;
    -o-animation: letItRain 6s 7s linear infinite;
}
.potato.p20 {
    left: 9vw;
    animation: letItRain 8.1666666667s 10.5s linear infinite;
    -webkit-animation: letItRain 8.1666666667s 10.5s linear infinite;
    -moz-animation: letItRain 8.1666666667s 10.5s linear infinite;
    -ms-animation: letItRain 8.1666666667s 10.5s linear infinite;
    -o-animation: letItRain 8.1666666667s 10.5s linear infinite;
}
.potato.p21 {
    left: 66vw;
    animation: letItRain 8.1428571429s 3.2s linear infinite;
    -webkit-animation: letItRain 8.1428571429s 3.2s linear infinite;
    -moz-animation: letItRain 8.1428571429s 3.2s linear infinite;
    -ms-animation: letItRain 8.1428571429s 3.2s linear infinite;
    -o-animation: letItRain 8.1428571429s 3.2s linear infinite;
}
.potato.p22 {
    left: 85vw;
    animation: letItRain 4.1666666667s 9s linear infinite;
    -webkit-animation: letItRain 4.1666666667s 9s linear infinite;
    -moz-animation: letItRain 4.1666666667s 9s linear infinite;
    -ms-animation: letItRain 4.1666666667s 9s linear infinite;
    -o-animation: letItRain 4.1666666667s 9s linear infinite;
}
.potato.p23 {
    left: 100vw;
    animation: letItRain 7.5s 2.25s linear infinite;
    -webkit-animation: letItRain 7.5s 2.25s linear infinite;
    -moz-animation: letItRain 7.5s 2.25s linear infinite;
    -ms-animation: letItRain 7.5s 2.25s linear infinite;
    -o-animation: letItRain 7.5s 2.25s linear infinite;
}
.potato.p24 {
    left: 14vw;
    animation: letItRain 8.1428571429s 6s linear infinite;
    -webkit-animation: letItRain 8.1428571429s 6s linear infinite;
    -moz-animation: letItRain 8.1428571429s 6s linear infinite;
    -ms-animation: letItRain 8.1428571429s 6s linear infinite;
    -o-animation: letItRain 8.1428571429s 6s linear infinite;
}
.potato.p25 {
    left: 97vw;
    animation: letItRain 6.1666666667s 5s linear infinite;
    -webkit-animation: letItRain 6.1666666667s 5s linear infinite;
    -moz-animation: letItRain 6.1666666667s 5s linear infinite;
    -ms-animation: letItRain 6.1666666667s 5s linear infinite;
    -o-animation: letItRain 6.1666666667s 5s linear infinite;
}
.potato.p26 {
    left: 5vw;
    animation: letItRain 5.1428571429s 7.5s linear infinite;
    -webkit-animation: letItRain 5.1428571429s 7.5s linear infinite;
    -moz-animation: letItRain 5.1428571429s 7.5s linear infinite;
    -ms-animation: letItRain 5.1428571429s 7.5s linear infinite;
    -o-animation: letItRain 5.1428571429s 7.5s linear infinite;
}
.potato.p27 {
    left: 83vw;
    animation: letItRain 4.1666666667s 10.5s linear infinite;
    -webkit-animation: letItRain 4.1666666667s 10.5s linear infinite;
    -moz-animation: letItRain 4.1666666667s 10.5s linear infinite;
    -ms-animation: letItRain 4.1666666667s 10.5s linear infinite;
    -o-animation: letItRain 4.1666666667s 10.5s linear infinite;
}
.potato.p28 {
    left: 9vw;
    animation: letItRain 5.25s 3.3333333333s linear infinite;
    -webkit-animation: letItRain 5.25s 3.3333333333s linear infinite;
    -moz-animation: letItRain 5.25s 3.3333333333s linear infinite;
    -ms-animation: letItRain 5.25s 3.3333333333s linear infinite;
    -o-animation: letItRain 5.25s 3.3333333333s linear infinite;
}
.potato.p29 {
    left: 81vw;
    animation: letItRain 4.2s 10.3333333333s linear infinite;
    -webkit-animation: letItRain 4.2s 10.3333333333s linear infinite;
    -moz-animation: letItRain 4.2s 10.3333333333s linear infinite;
    -ms-animation: letItRain 4.2s 10.3333333333s linear infinite;
    -o-animation: letItRain 4.2s 10.3333333333s linear infinite;
}
.potato.p30 {
    left: 13vw;
    animation: letItRain 6.25s 13s linear infinite;
    -webkit-animation: letItRain 6.25s 13s linear infinite;
    -moz-animation: letItRain 6.25s 13s linear infinite;
    -ms-animation: letItRain 6.25s 13s linear infinite;
    -o-animation: letItRain 6.25s 13s linear infinite;
}
.potato.p31 {
    left: 57vw;
    animation: letItRain 5.25s 9.25s linear infinite;
    -webkit-animation: letItRain 5.25s 9.25s linear infinite;
    -moz-animation: letItRain 5.25s 9.25s linear infinite;
    -ms-animation: letItRain 5.25s 9.25s linear infinite;
    -o-animation: letItRain 5.25s 9.25s linear infinite;
}
.potato.p32 {
    left: 15vw;
    animation: letItRain 6.5s 8.3333333333s linear infinite;
    -webkit-animation: letItRain 6.5s 8.3333333333s linear infinite;
    -moz-animation: letItRain 6.5s 8.3333333333s linear infinite;
    -ms-animation: letItRain 6.5s 8.3333333333s linear infinite;
    -o-animation: letItRain 6.5s 8.3333333333s linear infinite;
}
.potato.p33 {
    left: 21vw;
    animation: letItRain 8.3333333333s 6.2s linear infinite;
    -webkit-animation: letItRain 8.3333333333s 6.2s linear infinite;
    -moz-animation: letItRain 8.3333333333s 6.2s linear infinite;
    -ms-animation: letItRain 8.3333333333s 6.2s linear infinite;
    -o-animation: letItRain 8.3333333333s 6.2s linear infinite;
}
.potato.p34 {
    left: 64vw;
    animation: letItRain 6.3333333333s 10s linear infinite;
    -webkit-animation: letItRain 6.3333333333s 10s linear infinite;
    -moz-animation: letItRain 6.3333333333s 10s linear infinite;
    -ms-animation: letItRain 6.3333333333s 10s linear infinite;
    -o-animation: letItRain 6.3333333333s 10s linear infinite;
}
.potato.p35 {
    left: 22vw;
    animation: letItRain 7.1428571429s 11.5s linear infinite;
    -webkit-animation: letItRain 7.1428571429s 11.5s linear infinite;
    -moz-animation: letItRain 7.1428571429s 11.5s linear infinite;
    -ms-animation: letItRain 7.1428571429s 11.5s linear infinite;
    -o-animation: letItRain 7.1428571429s 11.5s linear infinite;
}
.potato.p36 {
    left: 7vw;
    animation: letItRain 6.5s 10.2s linear infinite;
    -webkit-animation: letItRain 6.5s 10.2s linear infinite;
    -moz-animation: letItRain 6.5s 10.2s linear infinite;
    -ms-animation: letItRain 6.5s 10.2s linear infinite;
    -o-animation: letItRain 6.5s 10.2s linear infinite;
}
.potato.p37 {
    left: 30vw;
    animation: letItRain 7.3333333333s 12.25s linear infinite;
    -webkit-animation: letItRain 7.3333333333s 12.25s linear infinite;
    -moz-animation: letItRain 7.3333333333s 12.25s linear infinite;
    -ms-animation: letItRain 7.3333333333s 12.25s linear infinite;
    -o-animation: letItRain 7.3333333333s 12.25s linear infinite;
}
.potato.p38 {
    left: 14vw;
    animation: letItRain 8.5s 1.25s linear infinite;
    -webkit-animation: letItRain 8.5s 1.25s linear infinite;
    -moz-animation: letItRain 8.5s 1.25s linear infinite;
    -ms-animation: letItRain 8.5s 1.25s linear infinite;
    -o-animation: letItRain 8.5s 1.25s linear infinite;
}
.potato.p39 {
    left: 13vw;
    animation: letItRain 8.25s 5.3333333333s linear infinite;
    -webkit-animation: letItRain 8.25s 5.3333333333s linear infinite;
    -moz-animation: letItRain 8.25s 5.3333333333s linear infinite;
    -ms-animation: letItRain 8.25s 5.3333333333s linear infinite;
    -o-animation: letItRain 8.25s 5.3333333333s linear infinite;
}
.potato.p40 {
    left: 29vw;
    animation: letItRain 9s 3.5s linear infinite;
    -webkit-animation: letItRain 9s 3.5s linear infinite;
    -moz-animation: letItRain 9s 3.5s linear infinite;
    -ms-animation: letItRain 9s 3.5s linear infinite;
    -o-animation: letItRain 9s 3.5s linear infinite;
}
.potato.p41 {
    left: 18vw;
    animation: letItRain 8.5s 12.25s linear infinite;
    -webkit-animation: letItRain 8.5s 12.25s linear infinite;
    -moz-animation: letItRain 8.5s 12.25s linear infinite;
    -ms-animation: letItRain 8.5s 12.25s linear infinite;
    -o-animation: letItRain 8.5s 12.25s linear infinite;
}
.potato.p42 {
    left: 83vw;
    animation: letItRain 4.5s 5.25s linear infinite;
    -webkit-animation: letItRain 4.5s 5.25s linear infinite;
    -moz-animation: letItRain 4.5s 5.25s linear infinite;
    -ms-animation: letItRain 4.5s 5.25s linear infinite;
    -o-animation: letItRain 4.5s 5.25s linear infinite;
}
.potato.p43 {
    left: 14vw;
    animation: letItRain 6.1666666667s 8s linear infinite;
    -webkit-animation: letItRain 6.1666666667s 8s linear infinite;
    -moz-animation: letItRain 6.1666666667s 8s linear infinite;
    -ms-animation: letItRain 6.1666666667s 8s linear infinite;
    -o-animation: letItRain 6.1666666667s 8s linear infinite;
}
.potato.p44 {
    left: 35vw;
    animation: letItRain 6.1428571429s 2.3333333333s linear infinite;
    -webkit-animation: letItRain 6.1428571429s 2.3333333333s linear infinite;
    -moz-animation: letItRain 6.1428571429s 2.3333333333s linear infinite;
    -ms-animation: letItRain 6.1428571429s 2.3333333333s linear infinite;
    -o-animation: letItRain 6.1428571429s 2.3333333333s linear infinite;
}
.potato.p45 {
    left: 13vw;
    animation: letItRain 7.1428571429s 12.3333333333s linear infinite;
    -webkit-animation: letItRain 7.1428571429s 12.3333333333s linear infinite;
    -moz-animation: letItRain 7.1428571429s 12.3333333333s linear infinite;
    -ms-animation: letItRain 7.1428571429s 12.3333333333s linear infinite;
    -o-animation: letItRain 7.1428571429s 12.3333333333s linear infinite;
}
.potato.p46 {
    left: 67vw;
    animation: letItRain 8.25s 6s linear infinite;
    -webkit-animation: letItRain 8.25s 6s linear infinite;
    -moz-animation: letItRain 8.25s 6s linear infinite;
    -ms-animation: letItRain 8.25s 6s linear infinite;
    -o-animation: letItRain 8.25s 6s linear infinite;
}
.potato.p47 {
    left: 62vw;
    animation: letItRain 4.3333333333s 13s linear infinite;
    -webkit-animation: letItRain 4.3333333333s 13s linear infinite;
    -moz-animation: letItRain 4.3333333333s 13s linear infinite;
    -ms-animation: letItRain 4.3333333333s 13s linear infinite;
    -o-animation: letItRain 4.3333333333s 13s linear infinite;
}
.potato.p48 {
    left: 100vw;
    animation: letItRain 6s 5.3333333333s linear infinite;
    -webkit-animation: letItRain 6s 5.3333333333s linear infinite;
    -moz-animation: letItRain 6s 5.3333333333s linear infinite;
    -ms-animation: letItRain 6s 5.3333333333s linear infinite;
    -o-animation: letItRain 6s 5.3333333333s linear infinite;
}
.potato.p49 {
    left: 77vw;
    animation: letItRain 5.1666666667s 4.25s linear infinite;
    -webkit-animation: letItRain 5.1666666667s 4.25s linear infinite;
    -moz-animation: letItRain 5.1666666667s 4.25s linear infinite;
    -ms-animation: letItRain 5.1666666667s 4.25s linear infinite;
    -o-animation: letItRain 5.1666666667s 4.25s linear infinite;
}
.potato.p50 {
    left: 15vw;
    animation: letItRain 5.1428571429s 9.2s linear infinite;
    -webkit-animation: letItRain 5.1428571429s 9.2s linear infinite;
    -moz-animation: letItRain 5.1428571429s 9.2s linear infinite;
    -ms-animation: letItRain 5.1428571429s 9.2s linear infinite;
    -o-animation: letItRain 5.1428571429s 9.2s linear infinite;
}
.potato.p51 {
    left: 32vw;
    animation: letItRain 8.1428571429s 12.2s linear infinite;
    -webkit-animation: letItRain 8.1428571429s 12.2s linear infinite;
    -moz-animation: letItRain 8.1428571429s 12.2s linear infinite;
    -ms-animation: letItRain 8.1428571429s 12.2s linear infinite;
    -o-animation: letItRain 8.1428571429s 12.2s linear infinite;
}
.potato.p52 {
    left: 8vw;
    animation: letItRain 8.3333333333s 6.5s linear infinite;
    -webkit-animation: letItRain 8.3333333333s 6.5s linear infinite;
    -moz-animation: letItRain 8.3333333333s 6.5s linear infinite;
    -ms-animation: letItRain 8.3333333333s 6.5s linear infinite;
    -o-animation: letItRain 8.3333333333s 6.5s linear infinite;
}
.potato .eye {
    background-color: #111;
    border-radius: 100%;
    height: 4px;
    position: absolute;
    top: 10px;
    width: 4px;
}
.potato .eye.left {
    left: 4px;
}
.potato .eye.right {
    right: 4px;
}
.potato .mouth-mad {
    border-radius: 100%;
    border-top: 2px solid #111;
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 20px;
    width: 8px;
}
.potato .mouth-mad.m1 {
    animation: madMouth 2s -1.125s linear infinite;
    -webkit-animation: madMouth 2s -1.125s linear infinite;
    -moz-animation: madMouth 2s -1.125s linear infinite;
    -ms-animation: madMouth 2s -1.125s linear infinite;
    -o-animation: madMouth 2s -1.125s linear infinite;
}
.potato .mouth-mad.m2 {
    animation: madMouth 2s -1.2s linear infinite;
    -webkit-animation: madMouth 2s -1.2s linear infinite;
    -moz-animation: madMouth 2s -1.2s linear infinite;
    -ms-animation: madMouth 2s -1.2s linear infinite;
    -o-animation: madMouth 2s -1.2s linear infinite;
}
.potato .mouth-mad.m3 {
    animation: madMouth 2s -1.5s linear infinite;
    -webkit-animation: madMouth 2s -1.5s linear infinite;
    -moz-animation: madMouth 2s -1.5s linear infinite;
    -ms-animation: madMouth 2s -1.5s linear infinite;
    -o-animation: madMouth 2s -1.5s linear infinite;
}
.potato .mouth-mad.m4 {
    animation: madMouth 2s -2.1111111111s linear infinite;
    -webkit-animation: madMouth 2s -2.1111111111s linear infinite;
    -moz-animation: madMouth 2s -2.1111111111s linear infinite;
    -ms-animation: madMouth 2s -2.1111111111s linear infinite;
    -o-animation: madMouth 2s -2.1111111111s linear infinite;
}
.potato .mouth-mad.m5 {
    animation: madMouth 2s -1.25s linear infinite;
    -webkit-animation: madMouth 2s -1.25s linear infinite;
    -moz-animation: madMouth 2s -1.25s linear infinite;
    -ms-animation: madMouth 2s -1.25s linear infinite;
    -o-animation: madMouth 2s -1.25s linear infinite;
}
.potato .mouth-mad.m6 {
    animation: madMouth 2s -2.125s linear infinite;
    -webkit-animation: madMouth 2s -2.125s linear infinite;
    -moz-animation: madMouth 2s -2.125s linear infinite;
    -ms-animation: madMouth 2s -2.125s linear infinite;
    -o-animation: madMouth 2s -2.125s linear infinite;
}
.potato .mouth-mad.m7 {
    animation: madMouth 2s -2.1428571429s linear infinite;
    -webkit-animation: madMouth 2s -2.1428571429s linear infinite;
    -moz-animation: madMouth 2s -2.1428571429s linear infinite;
    -ms-animation: madMouth 2s -2.1428571429s linear infinite;
    -o-animation: madMouth 2s -2.1428571429s linear infinite;
}
.potato .mouth-mad.m8 {
    animation: madMouth 2s -1.25s linear infinite;
    -webkit-animation: madMouth 2s -1.25s linear infinite;
    -moz-animation: madMouth 2s -1.25s linear infinite;
    -ms-animation: madMouth 2s -1.25s linear infinite;
    -o-animation: madMouth 2s -1.25s linear infinite;
}
.potato .mouth-mad.m9 {
    animation: madMouth 2s -1.2s linear infinite;
    -webkit-animation: madMouth 2s -1.2s linear infinite;
    -moz-animation: madMouth 2s -1.2s linear infinite;
    -ms-animation: madMouth 2s -1.2s linear infinite;
    -o-animation: madMouth 2s -1.2s linear infinite;
}
.potato .mouth-mad.m10 {
    animation: madMouth 2s -1.1111111111s linear infinite;
    -webkit-animation: madMouth 2s -1.1111111111s linear infinite;
    -moz-animation: madMouth 2s -1.1111111111s linear infinite;
    -ms-animation: madMouth 2s -1.1111111111s linear infinite;
    -o-animation: madMouth 2s -1.1111111111s linear infinite;
}
.potato .mouth-mad.m11 {
    animation: madMouth 2s -2.3333333333s linear infinite;
    -webkit-animation: madMouth 2s -2.3333333333s linear infinite;
    -moz-animation: madMouth 2s -2.3333333333s linear infinite;
    -ms-animation: madMouth 2s -2.3333333333s linear infinite;
    -o-animation: madMouth 2s -2.3333333333s linear infinite;
}
.potato .mouth-mad.m12 {
    animation: madMouth 2s -2.3333333333s linear infinite;
    -webkit-animation: madMouth 2s -2.3333333333s linear infinite;
    -moz-animation: madMouth 2s -2.3333333333s linear infinite;
    -ms-animation: madMouth 2s -2.3333333333s linear infinite;
    -o-animation: madMouth 2s -2.3333333333s linear infinite;
}
.potato .mouth-mad.m13 {
    animation: madMouth 2s -1.1666666667s linear infinite;
    -webkit-animation: madMouth 2s -1.1666666667s linear infinite;
    -moz-animation: madMouth 2s -1.1666666667s linear infinite;
    -ms-animation: madMouth 2s -1.1666666667s linear infinite;
    -o-animation: madMouth 2s -1.1666666667s linear infinite;
}
.potato .mouth-ok {
    border-radius: 100%;
    border-bottom: 2px solid #111;
    bottom: 77px;
    height: 5px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 10px;
}
.potato .mouth-ok.o1 {
    animation: okMouth 2s -1.25s linear infinite;
    -webkit-animation: okMouth 2s -1.25s linear infinite;
    -moz-animation: okMouth 2s -1.25s linear infinite;
    -ms-animation: okMouth 2s -1.25s linear infinite;
    -o-animation: okMouth 2s -1.25s linear infinite;
}
.potato .mouth-ok.o2 {
    animation: okMouth 2s -1.2s linear infinite;
    -webkit-animation: okMouth 2s -1.2s linear infinite;
    -moz-animation: okMouth 2s -1.2s linear infinite;
    -ms-animation: okMouth 2s -1.2s linear infinite;
    -o-animation: okMouth 2s -1.2s linear infinite;
}
.potato .mouth-ok.o3 {
    animation: okMouth 2s -3s linear infinite;
    -webkit-animation: okMouth 2s -3s linear infinite;
    -moz-animation: okMouth 2s -3s linear infinite;
    -ms-animation: okMouth 2s -3s linear infinite;
    -o-animation: okMouth 2s -3s linear infinite;
}
.potato .mouth-ok.o4 {
    animation: okMouth 2s -1.5s linear infinite;
    -webkit-animation: okMouth 2s -1.5s linear infinite;
    -moz-animation: okMouth 2s -1.5s linear infinite;
    -ms-animation: okMouth 2s -1.5s linear infinite;
    -o-animation: okMouth 2s -1.5s linear infinite;
}
.potato .mouth-ok.o5 {
    animation: okMouth 2s -1.1666666667s linear infinite;
    -webkit-animation: okMouth 2s -1.1666666667s linear infinite;
    -moz-animation: okMouth 2s -1.1666666667s linear infinite;
    -ms-animation: okMouth 2s -1.1666666667s linear infinite;
    -o-animation: okMouth 2s -1.1666666667s linear infinite;
}
.potato .mouth-ok.o6 {
    animation: okMouth 2s -2.1428571429s linear infinite;
    -webkit-animation: okMouth 2s -2.1428571429s linear infinite;
    -moz-animation: okMouth 2s -2.1428571429s linear infinite;
    -ms-animation: okMouth 2s -2.1428571429s linear infinite;
    -o-animation: okMouth 2s -2.1428571429s linear infinite;
}
.potato .mouth-ok.o7 {
    animation: okMouth 2s -1.125s linear infinite;
    -webkit-animation: okMouth 2s -1.125s linear infinite;
    -moz-animation: okMouth 2s -1.125s linear infinite;
    -ms-animation: okMouth 2s -1.125s linear infinite;
    -o-animation: okMouth 2s -1.125s linear infinite;
}
.potato .mouth-ok.o8 {
    animation: okMouth 2s -1.1666666667s linear infinite;
    -webkit-animation: okMouth 2s -1.1666666667s linear infinite;
    -moz-animation: okMouth 2s -1.1666666667s linear infinite;
    -ms-animation: okMouth 2s -1.1666666667s linear infinite;
    -o-animation: okMouth 2s -1.1666666667s linear infinite;
}
.potato .mouth-ok.o9 {
    animation: okMouth 2s -2.125s linear infinite;
    -webkit-animation: okMouth 2s -2.125s linear infinite;
    -moz-animation: okMouth 2s -2.125s linear infinite;
    -ms-animation: okMouth 2s -2.125s linear infinite;
    -o-animation: okMouth 2s -2.125s linear infinite;
}
.potato .mouth-ok.o10 {
    animation: okMouth 2s -1.1428571429s linear infinite;
    -webkit-animation: okMouth 2s -1.1428571429s linear infinite;
    -moz-animation: okMouth 2s -1.1428571429s linear infinite;
    -ms-animation: okMouth 2s -1.1428571429s linear infinite;
    -o-animation: okMouth 2s -1.1428571429s linear infinite;
}
.potato .mouth-ok.o11 {
    animation: okMouth 2s -1.1111111111s linear infinite;
    -webkit-animation: okMouth 2s -1.1111111111s linear infinite;
    -moz-animation: okMouth 2s -1.1111111111s linear infinite;
    -ms-animation: okMouth 2s -1.1111111111s linear infinite;
    -o-animation: okMouth 2s -1.1111111111s linear infinite;
}
.potato .mouth-ok.o12 {
    animation: okMouth 2s -1.2s linear infinite;
    -webkit-animation: okMouth 2s -1.2s linear infinite;
    -moz-animation: okMouth 2s -1.2s linear infinite;
    -ms-animation: okMouth 2s -1.2s linear infinite;
    -o-animation: okMouth 2s -1.2s linear infinite;
}
.potato .mouth-ok.o13 {
    animation: okMouth 2s -1.3333333333s linear infinite;
    -webkit-animation: okMouth 2s -1.3333333333s linear infinite;
    -moz-animation: okMouth 2s -1.3333333333s linear infinite;
    -ms-animation: okMouth 2s -1.3333333333s linear infinite;
    -o-animation: okMouth 2s -1.3333333333s linear infinite;
}
.potato .mouth-surprised {
    background-color: #111;
    border-radius: 100%;
    height: 3px;
    left: 5px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 20px;
    width: 5px;
}
.potato .mouth-surprised.s1 {
    animation: surprisedMouth 2s -2.125s linear infinite;
    -webkit-animation: surprisedMouth 2s -2.125s linear infinite;
    -moz-animation: surprisedMouth 2s -2.125s linear infinite;
    -ms-animation: surprisedMouth 2s -2.125s linear infinite;
    -o-animation: surprisedMouth 2s -2.125s linear infinite;
}
.potato .mouth-surprised.s2 {
    animation: surprisedMouth 2s -1.2s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.2s linear infinite;
    -moz-animation: surprisedMouth 2s -1.2s linear infinite;
    -ms-animation: surprisedMouth 2s -1.2s linear infinite;
    -o-animation: surprisedMouth 2s -1.2s linear infinite;
}
.potato .mouth-surprised.s3 {
    animation: surprisedMouth 2s -3s linear infinite;
    -webkit-animation: surprisedMouth 2s -3s linear infinite;
    -moz-animation: surprisedMouth 2s -3s linear infinite;
    -ms-animation: surprisedMouth 2s -3s linear infinite;
    -o-animation: surprisedMouth 2s -3s linear infinite;
}
.potato .mouth-surprised.s4 {
    animation: surprisedMouth 2s -2.125s linear infinite;
    -webkit-animation: surprisedMouth 2s -2.125s linear infinite;
    -moz-animation: surprisedMouth 2s -2.125s linear infinite;
    -ms-animation: surprisedMouth 2s -2.125s linear infinite;
    -o-animation: surprisedMouth 2s -2.125s linear infinite;
}
.potato .mouth-surprised.s5 {
    animation: surprisedMouth 2s -1.1428571429s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.1428571429s linear infinite;
    -moz-animation: surprisedMouth 2s -1.1428571429s linear infinite;
    -ms-animation: surprisedMouth 2s -1.1428571429s linear infinite;
    -o-animation: surprisedMouth 2s -1.1428571429s linear infinite;
}
.potato .mouth-surprised.s6 {
    animation: surprisedMouth 2s -1.3333333333s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.3333333333s linear infinite;
    -moz-animation: surprisedMouth 2s -1.3333333333s linear infinite;
    -ms-animation: surprisedMouth 2s -1.3333333333s linear infinite;
    -o-animation: surprisedMouth 2s -1.3333333333s linear infinite;
}
.potato .mouth-surprised.s7 {
    animation: surprisedMouth 2s -1.5s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.5s linear infinite;
    -moz-animation: surprisedMouth 2s -1.5s linear infinite;
    -ms-animation: surprisedMouth 2s -1.5s linear infinite;
    -o-animation: surprisedMouth 2s -1.5s linear infinite;
}
.potato .mouth-surprised.s8 {
    animation: surprisedMouth 2s -2.125s linear infinite;
    -webkit-animation: surprisedMouth 2s -2.125s linear infinite;
    -moz-animation: surprisedMouth 2s -2.125s linear infinite;
    -ms-animation: surprisedMouth 2s -2.125s linear infinite;
    -o-animation: surprisedMouth 2s -2.125s linear infinite;
}
.potato .mouth-surprised.s9 {
    animation: surprisedMouth 2s -1.1111111111s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.1111111111s linear infinite;
    -moz-animation: surprisedMouth 2s -1.1111111111s linear infinite;
    -ms-animation: surprisedMouth 2s -1.1111111111s linear infinite;
    -o-animation: surprisedMouth 2s -1.1111111111s linear infinite;
}
.potato .mouth-surprised.s10 {
    animation: surprisedMouth 2s -1.125s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.125s linear infinite;
    -moz-animation: surprisedMouth 2s -1.125s linear infinite;
    -ms-animation: surprisedMouth 2s -1.125s linear infinite;
    -o-animation: surprisedMouth 2s -1.125s linear infinite;
}
.potato .mouth-surprised.s11 {
    animation: surprisedMouth 2s -1.5s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.5s linear infinite;
    -moz-animation: surprisedMouth 2s -1.5s linear infinite;
    -ms-animation: surprisedMouth 2s -1.5s linear infinite;
    -o-animation: surprisedMouth 2s -1.5s linear infinite;
}
.potato .mouth-surprised.s12 {
    animation: surprisedMouth 2s -1.25s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.25s linear infinite;
    -moz-animation: surprisedMouth 2s -1.25s linear infinite;
    -ms-animation: surprisedMouth 2s -1.25s linear infinite;
    -o-animation: surprisedMouth 2s -1.25s linear infinite;
}
.potato .mouth-surprised.s13 {
    animation: surprisedMouth 2s -1.1111111111s linear infinite;
    -webkit-animation: surprisedMouth 2s -1.1111111111s linear infinite;
    -moz-animation: surprisedMouth 2s -1.1111111111s linear infinite;
    -ms-animation: surprisedMouth 2s -1.1111111111s linear infinite;
    -o-animation: surprisedMouth 2s -1.1111111111s linear infinite;
}
.potato .mouth-happy {
    border-radius: 100%;
    border-bottom: 5px solid #111;
    bottom: 77px;
    height: 5px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 8px;
}
.potato .mouth-happy.h1 {
    animation: happyMouth 2s -3s linear infinite;
    -webkit-animation: happyMouth 2s -3s linear infinite;
    -moz-animation: happyMouth 2s -3s linear infinite;
    -ms-animation: happyMouth 2s -3s linear infinite;
    -o-animation: happyMouth 2s -3s linear infinite;
}
.potato .mouth-happy.h2 {
    animation: happyMouth 2s -2.1428571429s linear infinite;
    -webkit-animation: happyMouth 2s -2.1428571429s linear infinite;
    -moz-animation: happyMouth 2s -2.1428571429s linear infinite;
    -ms-animation: happyMouth 2s -2.1428571429s linear infinite;
    -o-animation: happyMouth 2s -2.1428571429s linear infinite;
}
.potato .mouth-happy.h3 {
    animation: happyMouth 2s -1.5s linear infinite;
    -webkit-animation: happyMouth 2s -1.5s linear infinite;
    -moz-animation: happyMouth 2s -1.5s linear infinite;
    -ms-animation: happyMouth 2s -1.5s linear infinite;
    -o-animation: happyMouth 2s -1.5s linear infinite;
}
.potato .mouth-happy.h4 {
    animation: happyMouth 2s -1.125s linear infinite;
    -webkit-animation: happyMouth 2s -1.125s linear infinite;
    -moz-animation: happyMouth 2s -1.125s linear infinite;
    -ms-animation: happyMouth 2s -1.125s linear infinite;
    -o-animation: happyMouth 2s -1.125s linear infinite;
}
.potato .mouth-happy.h5 {
    animation: happyMouth 2s -3s linear infinite;
    -webkit-animation: happyMouth 2s -3s linear infinite;
    -moz-animation: happyMouth 2s -3s linear infinite;
    -ms-animation: happyMouth 2s -3s linear infinite;
    -o-animation: happyMouth 2s -3s linear infinite;
}
.potato .mouth-happy.h6 {
    animation: happyMouth 2s -1.3333333333s linear infinite;
    -webkit-animation: happyMouth 2s -1.3333333333s linear infinite;
    -moz-animation: happyMouth 2s -1.3333333333s linear infinite;
    -ms-animation: happyMouth 2s -1.3333333333s linear infinite;
    -o-animation: happyMouth 2s -1.3333333333s linear infinite;
}
.potato .mouth-happy.h7 {
    animation: happyMouth 2s -2.5s linear infinite;
    -webkit-animation: happyMouth 2s -2.5s linear infinite;
    -moz-animation: happyMouth 2s -2.5s linear infinite;
    -ms-animation: happyMouth 2s -2.5s linear infinite;
    -o-animation: happyMouth 2s -2.5s linear infinite;
}
.potato .mouth-happy.h8 {
    animation: happyMouth 2s -2.1111111111s linear infinite;
    -webkit-animation: happyMouth 2s -2.1111111111s linear infinite;
    -moz-animation: happyMouth 2s -2.1111111111s linear infinite;
    -ms-animation: happyMouth 2s -2.1111111111s linear infinite;
    -o-animation: happyMouth 2s -2.1111111111s linear infinite;
}
.potato .mouth-happy.h9 {
    animation: happyMouth 2s -2.1428571429s linear infinite;
    -webkit-animation: happyMouth 2s -2.1428571429s linear infinite;
    -moz-animation: happyMouth 2s -2.1428571429s linear infinite;
    -ms-animation: happyMouth 2s -2.1428571429s linear infinite;
    -o-animation: happyMouth 2s -2.1428571429s linear infinite;
}
.potato .mouth-happy.h10 {
    animation: happyMouth 2s -2.125s linear infinite;
    -webkit-animation: happyMouth 2s -2.125s linear infinite;
    -moz-animation: happyMouth 2s -2.125s linear infinite;
    -ms-animation: happyMouth 2s -2.125s linear infinite;
    -o-animation: happyMouth 2s -2.125s linear infinite;
}
.potato .mouth-happy.h11 {
    animation: happyMouth 2s -2.125s linear infinite;
    -webkit-animation: happyMouth 2s -2.125s linear infinite;
    -moz-animation: happyMouth 2s -2.125s linear infinite;
    -ms-animation: happyMouth 2s -2.125s linear infinite;
    -o-animation: happyMouth 2s -2.125s linear infinite;
}
.potato .mouth-happy.h12 {
    animation: happyMouth 2s -1.1666666667s linear infinite;
    -webkit-animation: happyMouth 2s -1.1666666667s linear infinite;
    -moz-animation: happyMouth 2s -1.1666666667s linear infinite;
    -ms-animation: happyMouth 2s -1.1666666667s linear infinite;
    -o-animation: happyMouth 2s -1.1666666667s linear infinite;
}
.potato .mouth-happy.h13 {
    animation: happyMouth 2s -2.5s linear infinite;
    -webkit-animation: happyMouth 2s -2.5s linear infinite;
    -moz-animation: happyMouth 2s -2.5s linear infinite;
    -ms-animation: happyMouth 2s -2.5s linear infinite;
    -o-animation: happyMouth 2s -2.5s linear infinite;
}
@keyframes letItRain {
    from {
        bottom: 100vh;
   }
    to {
        bottom: -20vh;
   }
}
@-webkit-keyframes letItRain {
    from {
        bottom: 100vh;
   }
    to {
        bottom: -20vh;
   }
}
@-moz-keyframes letItRain {
    from {
        bottom: 100vh;
   }
    to {
        bottom: -20vh;
   }
}
@-ms-keyframes letItRain {
    from {
        bottom: 100vh;
   }
    to {
        bottom: -20vh;
   }
}
@keyframes madMouth {
    0% {
        height: 0px;
   }
    44% {
        height: 0px;
   }
    75% {
        height: 10px;
        width: 10px;
   }
    100% {
        height: 10px;
        width: 8px;
   }
}
@-webkit-keyframes madMouth {
    0% {
        height: 0px;
   }
    44% {
        height: 0px;
   }
    75% {
        height: 10px;
        width: 10px;
   }
    100% {
        height: 10px;
        width: 8px;
   }
}
@-moz-keyframes madMouth {
    0% {
        height: 0px;
   }
    44% {
        height: 0px;
   }
    75% {
        height: 10px;
        width: 10px;
   }
    100% {
        height: 10px;
        width: 8px;
   }
}
@-ms-keyframes madMouth {
    0% {
        height: 0px;
   }
    44% {
        height: 0px;
   }
    75% {
        height: 10px;
        width: 10px;
   }
    100% {
        height: 10px;
        width: 8px;
   }
}
@keyframes okMouth {
    0% {
        height: 5px;
   }
    44% {
        height: 5px;
   }
    75% {
        height: 10px;
        width: 10px;
   }
    100% {
        height: 10px;
        width: 12px;
   }
}
@-webkit-keyframes okMouth {
    0% {
        height: 5px;
   }
    44% {
        height: 5px;
   }
    75% {
        height: 10px;
        width: 10px;
   }
    100% {
        height: 10px;
        width: 12px;
   }
}
@-moz-keyframes okMouth {
    0% {
        height: 5px;
   }
    44% {
        height: 5px;
   }
    75% {
        height: 10px;
        width: 10px;
   }
    100% {
        height: 10px;
        width: 12px;
   }
}
@-ms-keyframes okMouth {
    0% {
        height: 5px;
   }
    44% {
        height: 5px;
   }
    75% {
        height: 10px;
        width: 10px;
   }
    100% {
        height: 10px;
        width: 12px;
   }
}
@keyframes surprisedMouth {
    0% {
        height: 3px;
        top: 20px;
        width: 5px;
   }
    15% {
        height: 3px;
        top: 20px;
        width: 10px;
   }
    30% {
        height: 6px;
        top: 18px;
        width: 6px;
   }
    60% {
        height: 8px;
        top: 18px;
        width: 8px;
   }
    100% {
        height: 8px;
        top: 18px;
        width: 8px;
   }
}
@-webkit-keyframes surprisedMouth {
    0% {
        height: 3px;
        top: 20px;
        width: 5px;
   }
    15% {
        height: 3px;
        top: 20px;
        width: 10px;
   }
    30% {
        height: 6px;
        top: 18px;
        width: 6px;
   }
    60% {
        height: 8px;
        top: 18px;
        width: 8px;
   }
    100% {
        height: 8px;
        top: 18px;
        width: 8px;
   }
}
@-moz-keyframes surprisedMouth {
    0% {
        height: 3px;
        top: 20px;
        width: 5px;
   }
    15% {
        height: 3px;
        top: 20px;
        width: 10px;
   }
    30% {
        height: 6px;
        top: 18px;
        width: 6px;
   }
    60% {
        height: 8px;
        top: 18px;
        width: 8px;
   }
    100% {
        height: 8px;
        top: 18px;
        width: 8px;
   }
}
@-ms-keyframes surprisedMouth {
    0% {
        height: 3px;
        top: 20px;
        width: 5px;
   }
    15% {
        height: 3px;
        top: 20px;
        width: 10px;
   }
    30% {
        height: 6px;
        top: 18px;
        width: 6px;
   }
    60% {
        height: 8px;
        top: 18px;
        width: 8px;
   }
    100% {
        height: 8px;
        top: 18px;
        width: 8px;
   }
}
@keyframes happyMouth {
    0% {
        height: 5px;
        width: 8px;
   }
    45% {
        height: 5px;
        width: 8px;
   }
    60% {
        height: 8px;
        width: 10px;
   }
    100% {
        height: 8px;
        width: 10px;
   }
}
@-webkit-keyframes happyMouth {
    0% {
        height: 5px;
        width: 8px;
   }
    45% {
        height: 5px;
        width: 8px;
   }
    60% {
        height: 8px;
        width: 10px;
   }
    100% {
        height: 8px;
        width: 10px;
   }
}
@-moz-keyframes happyMouth {
    0% {
        height: 5px;
        width: 8px;
   }
    45% {
        height: 5px;
        width: 8px;
   }
    60% {
        height: 8px;
        width: 10px;
   }
    100% {
        height: 8px;
        width: 10px;
   }
}
@-ms-keyframes happyMouth {
    0% {
        height: 5px;
        width: 8px;
   }
    45% {
        height: 5px;
        width: 8px;
   }
    60% {
        height: 8px;
        width: 10px;
   }
    100% {
        height: 8px;
        width: 10px;
   }
}
