/* * {
    border: white 1px solid;
} */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Hind', sans-serif;
    color: #131211;
    background-color: #9c2d3c;
}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position:  sticky;
    width: 100%;
    height: 15rem;
    z-index: 2; 
    background-image: url("/images/hero1.jpg");
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

main {
    background-color: white;
    width: 50%;
    box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
    -webkit-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
}

footer {
    position: fixed;
    margin: 0;
    width: 100%;
    bottom: 0px;
}

h1 {
    font-size: 2em;
}

.footer-text {
  font-weight: 100;
    margin: .2rem;
    text-align: center;
    color: white;
}

.search-wrapper {
    margin: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-wrapper > a {
    margin: 0 5px 0 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    list-style: none;
    margin-right: 1%;
}

nav > ul > li {
   margin: 0 5px;
}

nav > ul > form > span {
  margin: 0 10px;
}
section {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

article {
    border: white 1px solid;
    padding: 5%;
}

.post-interaction-wrapper {
    display: flex;
    flex-direction: column;
}

.post-interaction-wrapper > form > button, .post-interaction-wrapper > a {
  background-color: #9c2d3c;
  margin: 1%;
  text-align: center;
  width: 20%;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.btn-wrapper {
    display: flex;
    gap: 5%;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn,
.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: white;
 padding: 0rem .6rem;
 border: 2px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

i {
    color: white;
    margin: .5em;
}

i:hover {
  scale: 1.3;
  transition: .1s;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0rem .6rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
    scale: .8;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1em;
    width: 1em;
    fill: #b4b4b4;
  }

  .tagline {
    text-align: center;
  }
  .tagline > h1 {
    font-family: 'Tilt Warp';
    text-transform: uppercase;
    margin: 0;
  }

  .tagline > p {
    margin-top: 0;
    font-size: 1.19em;
  }

  .welcome-msg {
    color: white;
    font-weight: 100;
  }

  .post-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.post-heading > form > button {
  background-color: #9c2d3c;
  text-align: center;
}