/* * {
    border: red 1px solid;
}  */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Hind', sans-serif;
    color: #131211;
    background-color: #9c2d3c;
}

a {
  color: inherit; 
  text-decoration: underline; 
}

a:hover {
  color: #9c2d3c;
}



header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position:  sticky;
    width: 100%;
    height: 15rem;
    z-index: 2; 
    background-image: url("/images/hero1.jpg");
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

main {
    background-color: white;
    min-width: 560px;
    margin-top: -20px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
    -webkit-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
}

footer {
    position: fixed;
    margin: 0;
    width: 100%;
    bottom: 0px;
}

footer > a {
  text-decoration: none;
}

h1 {
    font-size: 2em;
}

.h1 {
  font-size: 3em;
  color: white;
  font-family: 'Tilt Warp';
  margin: 1%;
  z-index: 3;
}

h2 {
  margin: 0;
}

.footer-text {
  font-weight: 100;
    margin: .2rem;
    text-align: center;
    color: white;
}

.search-wrapper {
    margin: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.search-wrapper > a {
    margin: 0 5px 0 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
    list-style: none;
    margin-right: 1%;
}

nav > ul > li {
   margin: 0 5px;
}

nav > ul > form > span {
  margin: 0 10px;
}
section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

article {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 2% 10%;
    width: 80%;
}

.video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-interaction-wrapper {
    display: flex;
    flex-direction: column;
}

.post-interaction-wrapper > form > button, .post-interaction-wrapper > a {
  background-color: #9c2d3c;
  margin: 1%;
  text-align: center;
  width: 20%;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.btn,
.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: white;
 padding: 0rem .6rem;
 border: 2px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

#dark {
  color: #9c2d3c;
}

.btn:hover {
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

i {
    color: white;
    margin: .5em;
}

i:hover {
  scale: 1.2;
  transition: .1s;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #131211;
    padding: .6rem 1rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
    scale: 1;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1em;
    width: 1em;
    fill: #b4b4b4;
  }

  .tagline {
    text-align: center;
  }
  .tagline > h1 {
    font-family: 'Tilt Warp';
    text-transform: uppercase;
    font-size: 1.7em;
    margin-bottom: 0;
  }

  .tagline > p {
    margin-top: 0;
    font-size: 1em;
  }

  .welcome-msg {
    color: white;
    font-weight: 100;
  }

  .post-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1%;
    height: 4rem;
  }


.post-heading > form > button {
  background-color: #9c2d3c;
  text-align: center;
  margin-top: -10px;
}

.back-to-feed {
  display: flex;
  align-items: center;
  color: #9c2d3c;
  text-decoration: none;
}

.author {
  margin-top: 0;
}

.bold {
  font-weight: 500;
}

.like-comment-btns {
  color: #131211;
}

textarea {
  width: 70%;
  resize: none;
  margin: 0;
  padding: 1%;
  font-family: 'Hind', sans-serif;
}

.add-comment {
  border-top: #646464 1px solid;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.comment-btn {
  background-color: #9c2d3c;
  color: white;
  padding: 5%;
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.comment-btn:hover {
  scale: 1.05;
  transition: .1s;
}

.comment-card {
  display: flex;
  flex-direction: column;
  border: #9c2d3c 1px solid;
  margin: 1% 0;
  padding: 1% 2%;
  border-radius: 5px;
}

.comment-card > div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.left {
  flex: 1;
}

.light {
  font-weight: 100;
}

.content {
  max-width: 560px;
}

.content > p {
  text-align: justify;
}

.bottom-line {
  width: 100%;
  margin: 5% 0;
  border-bottom: #9c2d3c 1px solid;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  margin: 10%;
}

.form-wrapper > button {
  margin: 5% 0;
}

.form-wrapper > textarea {
  width: 97%;
}

.profile-card {
  margin: 0;
}

h3 {
  margin: 1%;
}