/* * {
    border: white 1px solid;
} */

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Hind', sans-serif;
    color: #131211;
    background-color: #9c2d3c;
    overflow: hidden;
}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:  sticky;
    width: 100%;
    z-index: 2; 
}

main {
    background-color: white;
    width: 50%;
    margin: 10% 0%;
    border-radius: 10px;
    box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
    -webkit-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
    -moz-box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.76);
}

footer {
    position: fixed;
    margin: 0;
    width: 100%;
    bottom: 0px;
    background-color: white;
}

h1 {
    font-size: 2em;
}

.footer-text {
    margin: 0;
    text-align: center;
}

.search-wrapper {
    margin: 0 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper > a {
    margin: 0 5px 0 0;
}

nav {
    margin: 0 1%;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li {
   margin: 0 5px;
}
section {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

article {
    border: white 1px solid;
    padding: 5%;
}

.post-interaction-wrapper {
    display: flex;
    flex-direction: column;
}

.comments-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.btn-wrapper {
    display: flex;
    gap: 5%;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.btn,
.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: white;
 padding: .5rem .8rem;
 border: 2px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

i {
    color: white;
    padding: 1rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: .5rem .8rem;
    border-radius: 30px;
    width: 12em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1em;
    width: 1em;
    fill: #b4b4b4;
  }